@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
.header{
padding: 1%;
text-align: center;
color:black;
font-size: 5rem;

font-family: 'Fontdiner Swanky', cursive;
}

.question{
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
  font-family: 'Crimson Text', serif;
  h3{
    text-align: center;
  }
}

.options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-columns: auto;
  grid-column-gap: 5px;
}

.options li:hover{
  background: lightblue;
}


.about {
  
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
  font-family: 'Crimson Text', serif;
}