html{
  background: linear-gradient(
  132deg,
  rgb(240, 229, 167) 30%,
  rgb(136, 64, 64) 82%,
  rgba(255, 147, 85, 0.815) 92%
);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: contain;
}
